
.note-appbar{
    background-color: var(--purple-primary);
}
.note-nav-buttons {
    color: white;
    background-color: transparent;
    transition: color .2s ease;
    padding: 8px;
    border: none;
}
.note-nav-buttons:hover {
    color: rgba(211, 211, 211, 0.67);
    transition: color .3s ease;
}

.notes-title-input, .notes-textarea{
    border: none;
}
.notes-title-input, .notes-textarea:focus{
   outline: none;
}
.notes-title-input {
    color: var(--dark-grey);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.notes-textarea {
    border: none;
    color: var(--dark-grey);
    font-size: 15px;
    flex: 0.5 1 auto;
    resize: none;
}
.note-image img {
    box-shadow: 5px 5px var(--dark-grey);
    height: 150px;
}